VITE_API = "https://api.meower.org" # The link to the REST API. This is used for most of the requests.
VITE_CLOUDLINK = "wss://api.meower.org/v0/cloudlink" # The link to the Cloudlink server. This is used for logging in and reporting, but not anything more. It's currently in the process of getting deprecated, but still is crucial.
VITE_URL = "https://mybearworld.github.io/roarer" # This is used for things like resolving post links. Note that this is *still* needs to be changed in vite.config.js.
VITE_ADMIN = "mybearworld" # The person who is treated as an admin. Only they can add the "Reload" button to their posts.
