@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Color Emoji";
  src: url("./assets/fonts/emoji/NotoColorEmoji-Regular.ttf");
}

:root {
  color-scheme: dark;
}
