@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Color Emoji";
  src: url("./assets/fonts/emoji/NotoColorEmoji-Regular.ttf");
}

@layer base {
  .ToastRoot {
    transform: translateX(var(--radix-toast-swipe-move-x, 0));
    transition: transform 200ms ease-out;
  }
  .ToastRoot[data-swipe="move"] {
    transition: none;
  }
}
